################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pixel_walle/FileContentIndex/b1658a0a-f6a0-4cf6-8e4e-7ab00ab858f4.vsidx
/.vs/pixel_walle/FileContentIndex
